#  ____  _      _____             _____         _
# | __ )(_) __ |_   _| __ ___  __|_   _|__  ___| |__
# |  _ \| |/ _` || || '__/ _ \/ _ \| |/ _ \/ __| '_ \
# | |_) | | (_| || || | |  __/  __/| |  __/ (__| | | |
# |____/|_|\__, ||_||_|  \___|\___||_|\___|\___|_| |_|
#         |___/
#
# Filament Sensor Settings (BigTreeTech Smart Filament Sensor V2.0)
# For FLSUN S1 Open Source Edition
# Version: 2.1


########################################
# Filament Sensor Settings
########################################

[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: ^PA11
runout_distance: 550
smart: True
check_on_print_start: True

[filament_motion_sensor motion_sensor]
detection_length: 4
extruder: extruder
switch_pin: ^PA10
pause_on_runout: True
runout_distance: 550
smart: True
