#  _  ___ _                       
# | |/ / (_)_ __  _ __   ___ _ __ 
# | ' /| | | '_ \| '_ \ / _ \ '__|
# | . \| | | |_) | |_) |  __/ |   
# |_|\_\_|_| .__/| .__/ \___|_|   
#          |_|   |_|              
#
# Klipper Configurations
# For FLSUN S1 Open Source Edition
# Version: 2.0

# Kalico telemetry
[telemetry]
enabled: True


########################################
# Included Files
########################################

[virtual_pins]
[include config.cfg]
[include Configurations/macros.cfg]
[include Configurations/flsun-os.cfg]


########################################
# Printer Settings
########################################

[thermistor RT 100K 3950]
temperature1: 25
resistance1: 100000
temperature2: 250
resistance2: 230.5
temperature3: 350
resistance3: 56.1

[printer]
kinematics: delta
max_velocity: 1200
max_accel: 40000
minimum_cruise_ratio: 0.5
square_corner_velocity: 5
max_z_velocity: 1200
delta_radius = 182.402916
print_radius: 165
minimum_z_position: -5


########################################
# X Stepper Motor
########################################

[stepper_a]
step_pin: PD6
dir_pin: !PD11
enable_pin: !PD10
microsteps: 16
rotation_distance: 60
endstop_pin: ^PD9
homing_speed: 50
homing_retract_dist: 3
angle = 209.686006
arm_length = 382.714363
position_endstop = 430.870336

[output_pin _motor_cali_a]
pin: PD13
pwm: False
value: 0

[gcode_button motor_a]
pin: PD14
press_gcode:
release_gcode:


########################################
# Y Stepper Motor
########################################

[stepper_b]
step_pin: PD15
dir_pin: !PE9
enable_pin: !PE8
microsteps: 16
rotation_distance: 60
endstop_pin: ^PE7
angle = 329.712834
arm_length = 384.639539
position_endstop = 430.349340

[output_pin _motor_cali_b]
pin: PE15
pwm: False
value: 0

[gcode_button motor_b]
pin: PD8
press_gcode:
release_gcode:


########################################
# Z Stepper Motor
########################################

[stepper_c]
step_pin: PE3
dir_pin: !PC5
enable_pin: !PA4
microsteps: 16
rotation_distance: 60
endstop_pin: ^PA3
angle = 90.000000
arm_length = 382.421170
position_endstop = 429.868442

[output_pin _motor_cali_c]
pin: PB0
pwm: False
value: 0

[gcode_button motor_c]
pin: PB1
press_gcode:
release_gcode:


########################################
# Extruder & Driver Settings
########################################

[extruder]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE4
microsteps: 16
rotation_distance: 4.5
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB8
sensor_type: RT 100K 3950
pullup_resistor: 510
sensor_pin: PC2
min_temp: 0
max_temp: 370
max_extrude_cross_section: 50
max_extrude_only_distance: 500
min_extrude_temp: 180
pressure_advance: 0.0
pressure_advance_smooth_time: 0.040
control: pid
pid_kp: 25.563
pid_ki: 1.794
pid_kd: 91.068

[tmc5160 extruder]
cs_pin: PD7
spi_speed: 500000
spi_software_sclk_pin: PA6
spi_software_mosi_pin: PA5
spi_software_miso_pin: PC4
sense_resistor: 0.0375
run_current: 0.8
interpolate: False
stealthchop_threshold: 0


########################################
# Bed Settings
########################################

[heater_bed]
heater_pin: PD5
sensor_pin: PC1
sensor_type: RT 100K 3950
min_temp: -5
max_temp: 140
control: pid
pid_kp: 40.537
pid_ki: 1.890
pid_kd: 217.381

[heater_generic heater_bed_2]
gcode_id: HB1
heater_pin: PB3
sensor_pin: PC0
sensor_type: RT 100K 3950
min_temp: 0
max_temp: 140
control: pid
pid_Kp: 52.107
pid_Ki: 1.720
pid_Kd: 394.714

[bed_mesh]
speed: 100
horizontal_move_z: 7
mesh_radius: 154
mesh_origin: 0,0
mesh_pps: 4,4
round_probe_count: 9
algorithm: bicubic
move_check_distance: 3
fade_start: 0.2
fade_end: 2
zero_reference_position: 0,0

[delta_calibrate]
radius: 154
horizontal_move_z: 10
speed: 100
enhanced_method: True  # False -> Use classic method | True -> Use enhanced method


########################################
# Drying Box Settings
########################################

[heater_fan drying_box_fan]
pin: PA8
heater: drying_box
shutdown_speed: 1

[temperature_sensor _drying_box_temp]
sensor_type: temperature_host
sensor_path: /dev/shm/drying_box_temp

[heater_generic drying_box]
gcode_id: HD1
heater_pin: PA9
sensor_type: temperature_combined
sensor_list: temperature_sensor _drying_box_temp
maximum_deviation: 999
combination_method: min
min_temp: 0
max_temp: 70
smooth_time: 2.0
control: watermark
max_delta: 0.2


########################################
# Probe Settings
########################################

[probe]
pin: !PD4
x_offset: 0
y_offset: 0
z_offset: -0.25
speed: 10
samples: 11
samples_result: median
sample_retract_dist: 15
samples_tolerance: 0.2
samples_tolerance_retries: 500


########################################
# Temperature Controls
########################################

[verify_heater extruder]
max_error: 150
check_gain_time: 20
hysteresis: 6
heating_gain: 2

[verify_heater heater_bed]
max_error: 200
check_gain_time: 60
hysteresis: 5
heating_gain: 0.5

[verify_heater heater_bed_2]
max_error: 240
check_gain_time: 80
hysteresis: 5
heating_gain: 0.4

[verify_heater drying_box]
max_error: 300
check_gain_time: 9999999
hysteresis: 50
heating_gain: 0.000000001


########################################
# G-Code Macros & Events
########################################

[idle_timeout]
gcode:
  {% if printer["gcode_macro RESUME"].m600_state == 1 %}
    RESPOND MSG="Nozzle heating stopped for inactivity! Heat nozzle and load new filament before resuming!"
    M104 S0
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
  {% elif not printer.pause_resume.is_paused %}
    {% if printer.extruder.target > 0 %}
      RESPOND MSG="Timeout reached: Turning off hotend..."
      M104 S0
    {% endif %}
    {% if printer.heater_bed.target > 0 %}
      RESPOND MSG="Timeout reached: Turning off inner bed..."
      SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0
    {% endif %}
    {% if printer["heater_generic heater_bed_2"].target > 0 %}
      RESPOND MSG="Timeout reached: Turning off outer bed..."
      SET_HEATER_TEMPERATURE HEATER=heater_bed_2 TARGET=0
    {% endif %}
    ; TODO: Make this conditional and printing
    SET_FAN_SPEED FAN=chamber_fan SPEED=0
    ; TODO: Disable part fan
    {% if printer.toolhead.homed_axes != "" %}
      RESPOND MSG="Timeout reached: Homing to disable stepper motors..."
      G28
      M84
    {% endif %}
  {% endif %}
timeout: 1800

[pause_resume]

[virtual_sdcard]
path: ~/printer_data/gcodes

[save_variables]
filename: ~/printer_data/config/Configurations/variables.cfg
   
[gcode_arcs]
resolution: 0.5

[display_status]

[exclude_object]

[respond]

[force_move]
enable_force_move: True


########################################
# Input Shaper Settings
########################################

[adxl345]
cs_pin: PE13
spi_speed: 100000
spi_software_sclk_pin: PE10
spi_software_mosi_pin: PE11
spi_software_miso_pin: PE12
rate: 3200

[resonance_tester]
probe_points: 0, 0, 20
accel_chip: adxl345
move_speed: 100
min_freq: 20
max_freq: 80
accel_per_hz: 300
sweeping_accel: 400
sweeping_period: 0

[input_shaper]
shaper_type_x = ei
shaper_freq_x = 46
shaper_type_y = ei
shaper_freq_y = 46


########################################
# MCU Settings
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


########################################
# Power Loss Settings
########################################

[filament_switch_sensor power_loss]
pause_on_runout: False
switch_pin: virtual_pin:power_loss_pin

[gcode_button power_loss]
pin: PD3
press_gcode:
  {% if printer["filament_switch_sensor power_loss"].enabled %}
    _SCREEN_LED_ON R=1 O=0 W=0
    {% if printer.print_stats.state == "printing" %}
      _SAVE_POWER_LOSS_PARAMS
      FAN_STOP
      TURN_OFF_HEATERS
      SET_FAN_SPEED FAN=chamber_fan SPEED=0
      {% if printer.configfile.settings['neopixel chamber_led'] %}
        _NEOPIXELS_OFF
      {% else %}
        _CHAMBER_LED_OFF
      {% endif %}
      RESPOND TYPE=error MSG="Power loss detected!"
      M400
      SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0
      STEPPER_STOP
      _SHUTDOWN
      G4 P5000
    {% else %}
      RESPOND TYPE=error MSG="Power loss detected! Shutting down."
      FAN_STOP
      TURN_OFF_HEATERS
      SET_FAN_SPEED FAN=chamber_fan SPEED=0
      _SHUTDOWN
      G4 P5000
    {% endif %}
  {% endif %}


############################################################################################################################
############################################################################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [delta_calibrate]
#*# height0 = -0.25
#*# height0_pos = 22991.143,22964.855,22937.004
#*# height1 = -0.25
#*# height1_pos = 23313.065,23290.052,22398.918
#*# height2 = -0.25
#*# height2_pos = 22991.143,22964.855,22937.004
#*# height3 = -0.25
#*# height3_pos = 22739.918,22710.039,23560.062
#*# height4 = -0.25
#*# height4_pos = 23534.561,22507.282,22969.997
#*# height5 = -0.25
#*# height5_pos = 22526.968,23500.842,22969.165
#*# height6 = -0.25
#*# height6_pos = 29807.550,21114.017,24806.816
#*# height7 = -0.25
#*# height7_pos = 30706.497,22151.340,23058.670
#*# height8 = -0.25
#*# height8_pos = 30495.626,23647.264,21694.787
#*# height9 = -0.25
#*# height9_pos = 29271.007,25479.651,20836.085
#*# height10 = -0.25
#*# height10_pos = 27453.626,27442.111,20543.012
#*# height11 = -0.25
#*# height11_pos = 25474.991,29229.487,20838.966
#*# height12 = -0.25
#*# height12_pos = 23635.804,30412.491,21698.042
#*# height13 = -0.25
#*# height13_pos = 22137.325,30585.264,23057.635
#*# height14 = -0.25
#*# height14_pos = 21110.108,29678.064,24807.693
#*# height15 = -0.25
#*# height15_pos = 20631.026,28027.871,26772.737
#*# height16 = -0.25
#*# height16_pos = 20738.022,26082.743,28688.463
#*# height17 = -0.25
#*# height17_pos = 21418.775,24183.403,30156.677
#*# height18 = -0.25
#*# height18_pos = 22626.156,22563.924,30722.406
#*# height19 = -0.25
#*# height19_pos = 24262.943,21373.077,30153.430
#*# height20 = -0.25
#*# height20_pos = 26184.000,20711.984,28686.550
#*# height21 = -0.25
#*# height21_pos = 28149.967,20624.023,26773.771
#*# distance0 = 97.08667
#*# distance0_pos1 = 22795.936,23074.017,23025.450
#*# distance0_pos2 = 20955.196,25490.551,25457.191
#*# distance1 = 97.26
#*# distance1_pos1 = 22892.231,22879.757,23123.379
#*# distance1_pos2 = 22351.149,22327.138,27312.314
#*# distance2 = 96.91
#*# distance2_pos1 = 23086.503,22784.288,23025.450
#*# distance2_pos2 = 25517.127,20943.584,25457.191
#*# distance3 = 97.09667
#*# distance3_pos1 = 23184.498,22881.540,22831.178
#*# distance3_pos2 = 27373.433,22353.875,22291.012
#*# distance4 = 97.32
#*# distance4_pos1 = 23086.636,23075.819,22734.816
#*# distance4_pos2 = 25519.493,25522.736,20894.077
#*# distance5 = 97.36666
#*# distance5_pos1 = 22892.363,23172.845,22831.178
#*# distance5_pos2 = 22353.115,27361.727,22291.012
#*# distance6 = 97.19333
#*# distance6_pos1 = 21077.737,24980.931,25277.514
#*# distance6_pos2 = 22489.263,22184.780,27117.043
#*# distance7 = 97.05000000000001
#*# distance7_pos1 = 22483.026,22179.433,26734.521
#*# distance7_pos2 = 25569.997,20985.173,25173.648
#*# distance8 = 97.19999999999999
#*# distance8_pos1 = 25337.615,21066.991,24946.046
#*# distance8_pos2 = 27178.248,22492.094,22147.693
#*# distance9 = 97.28999999999999
#*# distance9_pos1 = 26795.723,22484.913,22141.485
#*# distance9_pos2 = 25235.930,25574.539,20934.860
#*# distance10 = 97.04334
#*# distance10_pos1 = 25008.236,25340.813,21016.677
#*# distance10_pos2 = 22209.725,27165.292,22429.134
#*# distance11 = 97.25999999999999
#*# distance11_pos1 = 22203.453,26782.806,22422.832
#*# distance11_pos2 = 20995.920,25207.300,25509.988
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.031787, -0.031787, -0.031787, -0.031787, -0.031787, -0.031787, -0.031787, -0.031787, -0.031787
#*# 	-0.024029, -0.024029, -0.024029, -0.002110, -0.019944, 0.016100, -0.006573, -0.006573, -0.006573
#*# 	-0.033361, -0.033361, -0.052930, 0.001297, -0.018135, 0.035294, 0.063286, -0.012444, -0.012444
#*# 	-0.054057, -0.054057, -0.052708, -0.026281, -0.027502, -0.015162, 0.020963, -0.013724, -0.013724
#*# 	-0.076962, -0.108030, -0.108150, -0.024312, 0.000000, -0.007735, 0.009024, -0.003180, -0.092572
#*# 	-0.071279, -0.071279, -0.062401, -0.053557, -0.036995, -0.052255, -0.027104, -0.060590, -0.060590
#*# 	-0.078953, -0.078953, -0.077009, -0.056156, -0.035345, 0.001529, -0.036715, -0.097081, -0.097081
#*# 	-0.089014, -0.089014, -0.089014, -0.095681, -0.062210, -0.038272, -0.018909, -0.018909, -0.018909
#*# 	0.009106, 0.009106, 0.009106, 0.009106, 0.009106, 0.009106, 0.009106, 0.009106, 0.009106
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -154.0
#*# max_x = 154.0
#*# min_y = -154.0
#*# max_y = 154.0
